params {
    ecr_registry = '639236364410.dkr.ecr.us-east-1.amazonaws.com'
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?BISMARK_METHYLATIONEXTRACTOR' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_GENOMEPREPARATION' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_REPORT' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_DEDUPLICATE' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_ALIGN' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_SUMMARY' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?BISMARK_COVERAGE2CYTOSINE' { container = 'quay/biocontainers/bismark:0.24.0--hdfd78af_0' }
withName: '(.+:)?PRESEQ_LCEXTRAP' { container = 'quay/biocontainers/preseq:3.1.2--h445547b_2' }
withName: '(.+:)?CAT_FASTQ' { container = 'dockerhub/ubuntu:20.04' }
withName: '(.+:)?SAMTOOLS_FLAGSTAT' { container = 'quay/biocontainers/samtools:1.15.1--h1170115_0' }
withName: '(.+:)?SAMTOOLS_FAIDX' { container = 'quay/biocontainers/samtools:1.15.1--h1170115_0' }
withName: '(.+:)?SAMTOOLS_STATS' { container = 'quay/biocontainers/samtools:1.15.1--h1170115_0' }
withName: '(.+:)?SAMTOOLS_SORT' { container = 'quay/biocontainers/samtools:1.15.1--h1170115_0' }
withName: '(.+:)?SAMTOOLS_INDEX' { container = 'quay/biocontainers/samtools:1.15.1--h1170115_0' }
withName: '(.+:)?QUALIMAP_BAMQC' { container = 'quay/biocontainers/qualimap:2.2.2d--1' }
withName: '(.+:)?QUALIMAP_BAMQCCRAM' { container = 'quay/biocontainers/mulled-v2-d3934ca6bb4e61334891ffa2e9a4c87a530e3188:61f6d4658ac88635fc37623af50bba77561988ab-0' }
withName: '(.+:)?TRIMGALORE' { container = 'quay/biocontainers/trim-galore:0.6.7--hdfd78af_0' }
withName: '(.+:)?BWAMETH_INDEX' { container = 'quay/biocontainers/bwameth:0.2.2--py_1' }
withName: '(.+:)?BWAMETH_ALIGN' { container = 'quay/biocontainers/bwameth:0.2.2--py_1' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.11.9--0' }
withName: '(.+:)?PICARD_MARKDUPLICATES' { container = 'quay/biocontainers/picard:2.27.4--hdfd78af_0' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'quay/biocontainers/multiqc:1.13--pyhdfd78af_0' }
withName: '(.+:)?METHYLDACKEL_EXTRACT' { container = 'quay/biocontainers/methyldackel:0.6.0--h22771d5_0' }
withName: '(.+:)?METHYLDACKEL_MBIAS' { container = 'quay/biocontainers/methyldackel:0.6.0--h22771d5_0' }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'quay/biocontainers/python:3.8.3' }
}
